<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.host.email %>
</p>

<%= link_to 'Invite Guest', new_event_invitation_path(@event) %>

<p>
  <strong>Guests:</strong><br>
  <% @event.guests.each do |guest| %>
  <%= guest.email %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
